.about {
  /* border: 3px solid black; */
  min-height: 100vh;
  background-color: #00060f;
  color: white;
}
.pSide {
  background-color: #242935;
  border-radius: 10px;
  padding: 2rem;
  /* border: 3px solid white; */
}
.about1 > h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.aboutContent {
  /* border: 3px solid red; */
  max-width: 1270px;
  width: 90vw;
  margin: 0 auto;
  padding: 0 0 4rem 0;
}
.aboutUsTitle {
  text-align: center;
}
.about1 {
  /* border: 3px solid green; */
  min-height: calc(100vh - 5rem);
  padding: 2rem 0;
}
.about2 {
  /* border: 3px solid green; */
}
.imgSide {
  display: none;
  height: 100%;
}
.firstLetter {
  margin-left: 2rem;
}
.VisMis {
  background-color: #242935;
  padding: 2rem;
  border-radius: 10px;
}
.vision,
.mision {
  margin-bottom: 2rem;
}
.vision > h1,
.mision > h1 {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .imgSide {
    display: block;
  }
  .pSide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
  }
  .imgSelf {
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
