.footer {
  background-color: #112255;
  padding: 2.5rem 0;
}
.footerContent {
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto;
  color: white;
}
.topSide {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  /* border: 3px solid white; */
}
.topLeftSide {
  /* border: 3px solid white; */
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}
.topRightSide {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}
.contactBtn {
  /* border: 3px solid white; */
  text-align: center;
  margin: 0 auto;
}
.contactBtn > a {
  color: white;
  font-size: 1.3rem;
  border: 3px solid white;
  padding: 0.4rem 1.2rem;
  border-radius: 10px;
  /* margin-bottom: 1rem; */
  transition: all 0.2s ease-in;
}
.contactBtn > a:hover {
  background-color: white;
  color: #112255;
}
.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem 1.5rem;
  justify-content: center;
}
.socials > a {
  color: white;
  text-decoration: underline;
}
.topLeftSide > * {
  /* border: 3px solid red; */
}
.adress {
  /* border: 3px solid white; */
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  text-align: center;
}
.adress > h3 {
  margin-bottom: 0.5rem;
}
.mailToBtn {
  color: white;
  text-decoration: underline;
  text-align: center;
}
.bottomSide {
  text-align: center;
}
.contactSide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 2rem auto 2rem auto;
}
@media screen and (min-width: 768px) {
  .topSide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .socials {
    flex-direction: column;
  }
  .footer {
    padding: 1.5rem 0;
  }
}
