.sideBar {
  background-color: #00060f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  /* border: 3px solid red; */
  display: grid;
  place-items: center;
  transition: all 0.2s ease-in;
}

.sideBarContent {
  display: block;
}

.closeIcon {
  /* border: 3px solid white; */
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: all 0.2s ease-in-out;
  display: block;
}
.closeIcon:hover {
  background-color: white;
  color: #00060f;
}
.closeIcon > * {
  display: block;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
}

.links > li > a {
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  transition: all 0.2s ease-in-out;
}

.links > li > a.active {
  transform: scale(1.15);
  color: rgb(167, 167, 255);
}

@media screen and (min-width: 768px) {
  .sideBar {
    display: none;
  }
}
